<!-- הגדרות RTL ותמיכה בעברית -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html dir="rtl" lang="he-IL">

<!-- גופנים מותאמים -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&family=Assistant:wght@300;400;600;700&display=swap" rel="stylesheet">

<!-- הגדרות RTL נוספות -->
<style>
  html {
    direction: rtl;
  }

  body {
    font-family: 'Heebo', 'Assistant', sans-serif;
    direction: rtl;
    text-align: right;
  }

  /* התאמות נוספות ספציפיות */
  .masthead__menu-item {
    margin-right: 0;
    margin-left: 1em;
  }

  .page__meta {
    text-align: right;
  }
</style>
